{% extends "base.html" %}

{% block content %}
<div class="jumbotron-custom-base">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/tienda/">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page"></li>
            </ol>
        </nav>
        <h1 class="display-4">Nuestros productos destacados</h1>
        <h3 class="text-muted">Descubre los productos más populares de nuestra tienda</h3>
    </div>
</div>

<div class="container">
    <div class="row">
        {% for producto in productos_destacados %}
        <div class="col-md-4 mb-4">
            <div class="card product-card h-100">
                <div class="card-img-wrapper">
                    <img src="{{ producto.image }}" class="card-img-top" alt="imagen del producto">
                </div>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-center mb-3">{{ producto.title }}</h5>
                    <div class="mt-auto text-center">
                        <a href="/tienda/detalle_producto/{{ producto.id }}" class="btn btn-ver-producto">Ver Producto</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}